--index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://pypi.org/simple

torch
torchvision
torchaudio

numpy<2.0
scipy
pandas
tqdm
matplotlib
pillow
opencv-python-headless
einops
accelerate==0.34.2
safetensors
torchmetrics
transformers==4.44.2
datasets==2.21.0
tokenizers
huggingface_hub
diffusers==0.30.3
omegaconf
pyyaml
wandb
tensorboard
lpips
clean-fid
scikit-image
scikit-learn
# albumentations
webdataset
ftfy
regex